@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
  --cu_gold: #CFB87C;
  --cu_dark_gray: #565A5C;
  --cu_light_gray: #A2A4A3;
}
html {
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* Hero Section */
#hero{
  background-image: url(./images/standard_images/hero_image.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}

#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}

#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#hero h1{
  display:block;
  width: fit-content;
  font-size:4rem;
  position: relative;
  color: transparent;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1s;
}

#hero h1:nth-child(1){
  animation-delay:1s;
}
#hero h1:nth-child(2){
  animation-delay:2s;
}
#hero h1:nth-child(3){
  animation:text_reveal_name .5 ease forwards;
  animation-delay:3s;
}

#hero h1 span{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:0;
  background-color:var(--cu_gold);
  animation: text_reveal_box 1s ease;
  animation-delay: .3s;
}

#hero h1:nth-child(1) span{
  animation-delay:.5s;
}
#hero h1:nth-child(2) span{
  animation-delay:1.5s;
}
#hero h1:nth-child(3) span{
  animation-delay:2.5s;
}
#hero .cta{
  display: inline-block;
  padding: 10px 30px;
  color: white;
  border:2px solid var(--cu_gold);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 20px;
  transition: 0.3s ease background-color;
  transition-property: background-color, color;
}

#hero .cta:hover{
  color: white;
  background-color: var(--cu_gold);
}
/* End of Hero Section */

/* Team Members */
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#team_members .team_members{
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#team_members .section-title{
  font-size: 4rem;
  font-weight: bold;
  color: var(--cu_gold);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align:center;
  line-height: 4.25rem;

}

#team_members .team-top p{
  font-size: 1.4rem;
  margin-top:5px;
  line-height:2rem;
  font-weight: 300;
  letter-spacing: 0.05rem

}

.card-decks{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
	margin-left: 20px;
}

a, a:hover{
	text-decoration: none;
}

ul, li{
	display: inline-block;
	list-style: none;
}


.card-decks .card{
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow:hidden;
	padding: 15px;
	width: 350px;
	height:400px;
	margin: 15px;
	text-align: center;
	color: #fff;
	border: 5px solid var(--cu_light_gray);
	background-color: var(--cu_light_gray);
	box-shadow:0 1px 1px rgba(0,0,0,0.1),
						 0 2px 2px rgba(0,0,0,0.1),
						 0 4px 4px rgba(0,0,0,0.1),
						 0 8px 8px rgba(0,0,0,0.1),
						 0 16px 16px rgba(0,0,0,0.1),


}

.card-decks .card:before{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 110%;
	background-size: cover;
	background-position: center;
	transition: transform calc(700ms*1.5) cubic-bezier(0.19,1,0.22,1);
	pointer-events: none;

}

.card-decks .card:nth-child(1):before{
	background-image: url(images/2021_2022/team_photos/roark.jpeg);
}
.card-decks .card:nth-child(2):before{
	background-image: url(images/2021_2022/team_photos/claire.jpeg);
}
.card-decks .card:nth-child(3):before{
	background-image: url(images/2021_2022/team_photos/alec.jpeg);
}
.card-decks .card:nth-child(4):before{
	background-image: url(images/2021_2022/team_photos/simon.jpeg);
}
.card-decks .card:nth-child(5):before{
	background-image: url(images/2021_2022/team_photos/luke.jpeg);
}
.card-decks .card:nth-child(6):before{
	background-image: url(images/2021_2022/team_photos/erik.jpeg);
}
.card-decks .card:nth-child(7):before{
	background-image: url(images/2021_2022/team_photos/kiro.jpeg);
}
.card-decks .card:nth-child(8):before{
	background-image: url(images/2021_2022/team_photos/rhett.jpeg);
}
.card-decks .card:nth-child(9):before{
	background-image: url(images/2021_2022/team_photos/graham.jpeg);
}
.card-decks .card:nth-child(10):before{
	background-image: url(images/2021_2022/team_photos/charles.jpeg);
}
.card-decks .card:nth-child(11):before{
	background-image: url(images/2021_2022/team_photos/anika.jpeg);
}
.card-decks .card:nth-child(12):before{
	background-image: url(images/2021_2022/team_photos/mariam.jpeg);
}
.card-decks .card:nth-child(13):before{
	background-image: url(images/2021_2022/team_photos/aaron.jpeg);
}

.card-decks .card:after{
	content: '';
	position: absolute;
	display: block;
	top:0;
	left: 0;
	width:100%;
	height: 200%;
	pointer-events: none;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, 88.7%,rgba(0,0,0,0.762) 94.1%,rgba(0,0,0,0.79) 100%);
	transform:translateY(-50%);
}

.card_content{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding:16px;
	z-index:1;
	transition: transform 700ms cubic-bezier(0.19,1,0.22,1);
}

.card_content .card_title{
	font-size: 20px;
	font-weight: bold;
	line-height: 1.2;
}

.card_content .card_position{
	font-size: 15px;
	font-weight: bold;
	line-height: 1.2;
}

.card_content p{
	margin: 16px 0;

}

.social-icon li a{
	font-size: 19px;
	color: #fff;
	transition: all 0.5s;
}

.social-icon li a i{
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 50%;
	text-align: center;
	background-color: var(--cu_gold);
	transition: all 0.3s;
}

.social-icon li:hover i{
	color:#fff;
	transform: translateY(-8px);

}
.card_content .card_desc{
	font-size: 14px;
	color:#bbbbbf;
	line-height:1.4;
}

@media (hover:hover) and (min-width:600px){
	.card_content{
		transform: translateY(calc(100% - 50px));
	}
	.card:hover,
	.card:focus-within{
		align-items: center;
	}

	.card:hover:before,
	.card:focus-within:before{
		transform: translateY(-15px);
	}

	.card:hover:after,
	.card:focus-within:after{
		transform: translateY(-50%);
		background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.009) 11.7%, rgba(0,0,0,0.034) 22.1%, rgba(0,0,0,0.072) 31.2%,rgba(0,0,0,0.123) 39.4%,rgba(0,0,0,0.182) 46.6%, rgba(0,0,0,0.249) 53.1%, rgba(0,0,0,0.32) 58.9%, rgba(0,0,0,0.394) 64.3%, rgba(0,0,0,0.468) 69.3%,rgba(0,0,0,0.54) 74.1%,rgba(0,0,0,0.607) 78.8%,rgba(0,0,0,0.668) 83.6%,rgba(0,0,0,0.721) 88.7%,rgba(0,0,0,0.762) 94.1%,rgba(0,0,0,0.79) 100%);

	}

	.card:hover .card_content,
	.card:focus-within .card_content{
		transform: translateY(0);
	}
}
/* End of Team Members */

/*  Key Frames */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: var(--cu_gold);
		font-weight: 500;
	}
}
/* End of Key Frames */
